/* CSS Grid v1 - 08.07.2015 */

/* MagicZoom */
.MagicThumb-caption{padding:2px 8px!important;}

/* Dynamically generated classes: Being */
.FCCorGrid{}
.FCAdicional1Grid{}
.FCAdicional2Grid{}
.FCAdicional3Grid{}
.FCAdicionalD1Grid{}
.FCAdicionalD2Grid{}
.FCAdicionalD3Grid{}
/* Dynamically generated classes: End */

.ProdWLSel{margin:80px 0 20px 0;background:#f0f0f0;padding:5px;border-radius:5px;-webkit-border-radius: 5px; -moz-border-radius: 5px;width:240px;line-height:18px;}
.FCBoxGridOnly .ProdWL{margin:90px 0 20px 0;position:relative;top:20px;}
.FCWishlist1 div{margin-top:12px}

.FCNameProductGrid{font-size:20px;margin:10px 0;}
.FCPriceGrid{width:100%;height:auto;min-height:40px;}
.FCCodProdGrid{font-weight:normal;display:block;margin:0;}

.FCGridMain {font-weight:400; max-width:99%;}
.FCGridMain #idDivGridImg {min-height:350px;padding:0px;float:left;}
.FCGridMain #idDivGridImg img {max-width:250px;max-height:250px;border:1px solid #cccccc;}

.FCContentGrid{height:auto;position:relative;float:left;text-align:left !important;}
.FCGridMain .FCDescritorGrid{min-width:30px;min-height:30px;display:block;text-align:center;padding:5px;white-space: nowrap;}
.ProductDet .FCGridMain .FCDescritorGrid{display:block;text-align:center;padding:5px;}

.FCBoxGrid{position:relative;height:auto !important;min-height:40px;display:table;text-align:left;border:0px solid #cccccc;font-size:13px;margin-top:0px;}
.FCDescritorGridDisabled .FCDescritorGrid{background:#f0f0f0;color:#686868;cursor:not-allowed;}
/* .FCSelectedGrid {background:#23aee8;} */
.FCStepGrid{min-height:40px;display:none;text-align:left;border:0;padding:0;}
.FCStepGridNumber{display:none; /* display:inline-block; */ width:25px;height:25px;line-height:27px;float:left;padding:5px;border-radius:50%;background:#4494f9;color:#ffffff;text-align:center;font-weight:700;}
.FCOptionSelected{display:inline-block;font-weight:700;padding:8px 0;}
.FCStepGridTitle{display:inline-block;padding:8px 0;float:left;margin:0 5px;font-weight:700;}
.FCStepGridTitle.FCTitQtyInc{margin-left:5px;}

.FCSoldOutLabel span{background:#eeeeee;color:#cccccc;}
.FCSoldOutLabel .FCFlagEsgotadoGrid{width:18px;position:absolute;margin:0;bottom:-8px;right:-8px;background:#e17600;font-size:11px;color:#ffffff;line-height:12px;padding:0px;border:2px solid #cccccc;border-radius:8px;-webkit-border-radius: 8px; -moz-border-radius: 8px;height:18px;text-align:center!important;z-index:1;}
.FCSoldOutLabel:hover{border-color:#f56217!important;}

.FCBoxGrid.FCResumeProduct{padding:10px 0!important;display:none;}
.FCDescritorGridActivated{cursor:pointer;}
/* .FCDescritorGridActivated:hover{border-color:#3e98e4;} */

.FCCheckedGrid {width:16px;height:16px;position:absolute;background:url('../../images/checkedgrid.svg?cccfc=1') no-repeat;z-index:1;top:-3px;right:-3px;display:none;}
.FCSelectedGrid .FCCheckedGrid {display:block;}
.FCGridBtnZoom{width:160px;background:#e0e0e0;display:block;padding:7px 0;text-align:center;font-size:12px;margin:5px auto;border-radius:3px;-webkit-border-radius: 3px; -moz-border-radius: 3px;color:#555555;font-weight:700;}

.FCBtnEsgotadoGrid, .FCBtnConsultenos, .FCBtnComprarGrid, .FCBtnSelecioneGrid{max-width:300px;height:auto;position:relative;text-align:center;font-size:14px;font-weight:normal;cursor:pointer;margin:5px 0;padding:5px 0px;border-radius:5px;-webkit-border-radius: 5px; -moz-border-radius: 5px;float:left;text-align:center;min-width:150px;}
.FCBtnEsgotadoGrid span{color:#ee4c1a;}
.FCBtnEsgotadoGrid span:hover{color:#ff0000;}
/* .FCBtnEsgotadoGrid div{margin:0px 0px 0px 0px;} */
/* .FCBtnComprarGrid div{margin:0px 0px 0px 0px;} */
/* .FCBtnSelecioneGridPosition{margin:0px 0px 0px 0px;} */
.FCBoxGridOnly div{margin:0px 0px 0px 0px !important;}
.FCBtnConsultenos{}
.FCBtnComprarGrid{}
.FCBtnSelecioneGrid{}

.FCDescritorContent{width:180px;height:auto;list-style:none;/* overflow:auto; */display:flex;flex-wrap: nowrap;}
.FCDescritorContent::-webkit-scrollbar{background-color:rgba(0,0,0,.03);height:6px;display:block;}
.FCDescritorContent::-webkit-scrollbar-thumb{background-color:rgba(0,0,0,.1);background-clip:padding-box;}
.ProductDet .FCDescritorContent{/*height:60px;*/list-style:none;/* overflow:auto; */display:flex;flex-wrap:wrap;}

ul.FCDescritorContent {margin:0;padding:0;}
.FCDescritorContent li {position:relative;float:left;}
.FCDescritorContent li:hover{}

/* Steps */
.FCFCBoxGridIncMult .FCStepGridNumber{margin-top:4px;}
.FCFCBoxGridIncMult .FCStepGridTitle{padding:9px 0;}
.FCBoxGridBuy .FCStepGridNumber{margin-top:15px;}

/* Tooltip */
.FCTooltipGrid{position:absolute;width:100%;top:-18px;left:0px;font-size:12px;padding:8px 0;background:#da151d;border:none;border-radius:16px;-webkit-border-radius: 16px; -moz-border-radius: 16px;color:#ffffff;margin:0px auto !important;z-index:1;-webkit-transition:visibility 0s linear 0.3s,opacity 0.5s linear;transition:visibility 0s linear 0.3s,opacity 0.5s linear;}
.FCTooltipGrid.On{visibility:visible;opacity:1;}
.FCTooltipGrid.Off{visibility:hidden;opacity:0;}

/* IncMult */
.QTIncMultGrid{min-width:40px;}

/* Descritores */
.FCTxtGrid {width:100%;height:auto;position:relative;margin:10px 0;text-align:left; font-weight:700;}
.FCGridAdicContent span{display:inline-block;padding:5px;}
.AdicItemCor{min-width:20px;display:inline-block;margin:0 3px;border:1px solid #cccccc;}
.FCGridAdicContent.FCGridAdicProductList{float:left;}

/* Product List Grid */
.ProductPriceGrid .FCPrice{display:block;text-align:left;margin-bottom:15px;}
.ProductPriceGrid .prod-price{text-align:left;margin:10px auto;color:#da151d;}
.ProductPriceGrid span.FCPriceValue{font-size:35px;}

.ProductPriceGrid span.EstParc,font,.EstParcPrice{clear:left;line-height:normal!important;font-size:1rem;margin-top:0;color:#da151d!important;}
.EstParc {color:#da151d;}

.FCProdSty8 {padding-top:30px;}
.FCProdSty8 #idTxtIntroFoundProdsFC{display:none;}

#DivShowCartOnPage{display:block!important;}

/* Botoes de Acao */
.fc-grid-add-to-cart-button{
    background:linear-gradient(to bottom,#F5C589,#ED9222);
    color:#000; 
    font-size:1.2rem; 
    text-transform:uppercase;
    width:250px; 
    height:27px; 
    padding: 10px 0px 5px 0; 
    position:relative;
    text-align:center;
    cursor:pointer; 
    margin:10px 0 0 0; 
    border-radius: 21px;
    -webkit-border-radius: 21px; 
    -moz-border-radius: 21px;
    float:left;
    text-align:center;
    border:solid 1px #a56616;
}
.fc-grid-add-to-cart-button b {font-weight:400;}
.fc-grid-add-to-cart-button:before{content:"";background-image:url("../../images/iconcart_grid.svg");position:absolute;left:15px;top:5px;height:32px;width:32px;}
.fc-grid-add-to-cart-button:hover{box-shadow:0 0 11px rgba(246,204,148,1);}
.fc-grid-choose-options-button{background:#707070;color:#ffffff; font-size:1rem; text-transform:uppercase;width:250px; height:27px; padding: 10px 0px 5px 0; position:relative;text-align:center;cursor:pointer; margin:10px 0 0 0; border-radius: 21px;-webkit-border-radius: 21px; -moz-border-radius: 21px;float:left;text-align:center;}
.fc-grid-choose-options-button b {font-weight:400;}
.fc-grid-choose-options-button:hover{background:#878787;box-shadow:0 0 11px rgba(33,33,33,.3);}
.fc-grid-add-to-cart-ready-button{background:#707070;color:#ffffff; font-size:1rem; text-transform:uppercase;width:250px; height:27px; padding: 10px 0px 5px 0; position:relative;text-align:center;cursor:pointer; margin:10px 0 0 0; border-radius: 21px;-webkit-border-radius: 21px; -moz-border-radius: 21px;float:left;text-align:center;}
.fc-grid-add-to-cart-ready-button b {font-weight:400;}
.fc-grid-add-to-cart-ready-button:before{content:"";background-image:url("../../images/iconcart-grid-added.svg");position:absolute;left:15px;top:5px;height:32px;width:32px;}
.fc-grid-sold-out-button{background:#E57373;color:#ffffff; font-size:1rem; text-transform:uppercase; width:250px; height:27px; padding: 10px 0px 5px 0; position:relative;text-align:center;cursor:pointer; margin:10px 0 0 0; border-radius: 21px;-webkit-border-radius: 21px; -moz-border-radius: 21px;float:left;text-align:center;}
.fc-grid-sold-out-button b {font-weight:400;}
.fc-grid-sold-out-button:hover{background:#d46b6b;box-shadow:0 0 11px rgba(33,33,33,.3);}
.fc-grid-contact-us-button{background:#8c969c;color:#ffffff; font-size:1rem; text-transform:uppercase; width:250px; height:27px; padding: 10px 0px 5px 0; position:relative;text-align:center;cursor:pointer; margin:10px 0 0 0; border-radius: 21px;-webkit-border-radius: 21px; -moz-border-radius: 21px;float:left;text-align:center;}
.fc-grid-contact-us-button b {font-weight:400;}

/* Steps VP */
.FCSelectedGrid span {background:#ffffff; color:#da151d;}
#idNivelGridFC_0_1 {margin-bottom: -1px; z-index: 1;}
#idNivelGridFC_0_1 .FCDescritorGrid {padding:10px 15px; border-top-left-radius:5px; border-top-right-radius:5px; border-right:1px solid #b4b4b4; border-top:1px solid #b4b4b4; border-left: 1px solid #b4b4b4; font-size:1rem; text-transform:uppercase;}
#idNivelGridFC_0_1 .FCDescritorGridActivated {background:#f0f0f0;}
#idNivelGridFC_1_1 {display:flex; flex-wrap:wrap; border-bottom-left-radius:5px; border-bottom-right-radius:5px; border-right:1px solid #b4b4b4; border-bottom:1px solid #b4b4b4; border-left: 1px solid #b4b4b4;}
#idNivelGridFC_1_1 .FCDescritorContent li {width:100%; border-top:1px solid #b4b4b4;}
#idNivelGridFC_1_1 .FCDescritorGrid {padding:25px 15px 20px 15px; outline: none; border-bottom-right-radius:5px; border-bottom-left-radius:5px;}

/* Escolha do Curso */
.zFCurso {display:flex; text-align:left; align-items: center; background: url('../../images/zFCheckOff.svg') no-repeat left center; color:#707070;}
.zFCursoData  {margin-left:40px; font-size:0.9rem;}
.zFCursoHora  {margin-left:50px; font-size:0.9rem;}
.zFCursoPreco {margin-left:50px; color:#da151d;}
.zFCursoPreco0 {font-size:0.8rem; font-weight:400; color:#707070; text-decoration: line-through; margin-bottom:8px;}
.zFCursoPreco1 {font-size:1.1rem; font-weight:400; background:none !important;}
.zFCursoPreco2 {font-size:2.2rem; font-weight:700; line-height: 1.2rem; background:none !important;}
.zFCursoParc   {font-size:0.8rem; font-weight:400; color:#707070; margin-top:4px;}

/* Referencia / Estrelas / Lista de Desejos */
.zFProdRef1 {font-size:0.9rem;}
.zFProdRef2 {margin:5px 0 0 0; display: flex; font-size: 1.2rem; align-items: center;}
.zFProdRef3 {margin:0 15px 0 10px;}

/* Bullet Curso Escolhido */
.FCCheckedBullet {width: 45px; height: 100%; padding: 5px 0 0 1px; position:absolute; background: url('../../images/zFCheckOn.svg') no-repeat center center; z-index: 1; display:none;}
.FCSelectedGrid .FCCheckedBullet{display:block;}

/* Descricao Curta */
.det-product-description-short {margin:15px 0 0 0; font-size:1rem;}

/* Botao WhatsApp */
.zFBotWhatsAlign {position:relative; top:-52px; left:52%; max-width:250px; padding: 5px 0px;}
.zFBotWhatsApp {width: 225px; height: 30px; border:1px solid #1bd741; border-radius: 21px; background:url("../../images/icon-whatsapp2.svg") no-repeat left center; background-color: #fff; text-align: center; text-transform:uppercase; color: #1bd741; padding: 9px 0 1px 20px; cursor:pointer;}
.zFBotWhatsApp:hover{box-shadow:0 0 11px rgba(169,240,183,1);}

/* Professores */
#showProfs b {font-size:1.2rem; font-weight:700;}
#showProfs img {width:60px; margin:0 10px 0 0; vertical-align: middle; border:none; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;}
#showProfs p {font-size: 1rem; margin-block-start: 0.8rem; margin-block-end: 0.8rem;}
#prof0, #prof1, #prof2, #prof3, #prof4, #prof5, #prof6, #prof7, #prof8, #prof9, #prof10, #prof11, #prof12, #prof13, #prof14, #prof15, #prof16, #prof17, #prof18, #prof19, #prof20, #prof21, #prof22, #prof23, #prof24, #prof25  {font-size:1.1rem; font-weight:700; margin:20px 0 0 0;}

@media only screen and (max-width:1024px){
.FCBoxGridBuy .FCStepGridNumber{margin-top:0;}
/* Steps VP */
#idNivelGridFC_0_1 {margin-bottom: -1px;}
#idNivelGridFC_0_1 .FCDescritorGrid {font-size: 0.9rem;}
#idNivelGridFC_1_1 {z-index:0;}
#idNivelGridFC_1_1 .FCDescritorGrid {padding: 15px 15px 15px 15px;}
/* Escolha do Curso */
.zFCurso {display:flex; flex-wrap:wrap;}
.zFCursoData br {content:""; margin:0 3px;}
.zFCursoHora {margin-left: 40px;}
.zFCursoHora br {content:""; margin:0 3px;}
.zFCursoPreco {margin-left: 40px; margin-top: 15px;}
/* Bullet Curso Escolhido */
.FCCheckedBullet {padding: 0px 0 0 1px;}
/* Botao WhatsApp */
.zFBotWhatsAlign {top: 10px !important; left: 0;}
/* Botoes Acao */
.fc-grid-add-to-cart-button{margin:0 0 0 0;}
.fc-grid-choose-options-button{margin:0 0 0 0;}
.fc-grid-add-to-cart-ready-button{margin:0 0 0 0;}
.fc-grid-sold-out-button{margin:0 0 0 0;}
.fc-grid-contact-us-button{margin:0 0 0 0;}
}

@media only screen and (max-width: 380px) {
#idNivelGridFC_0_1 .FCDescritorGrid {font-size: 0.82rem;}
}

@media only screen and (max-width: 320px) {
#idNivelGridFC_0_1 .FCDescritorGrid {padding: 10px 10px; font-size: 0.75rem;}
}

