.institut_geral {display:flex; display:-webkit-flex; justify-content:center; -webkit-justify-content:center; width: 100%; max-width: 1306px;line-height: 1.5rem;color: #2b2a2a;font-size: 0.9rem;}
.institut_geral img{max-width: 100%;}
.institut_geral p {font-size: 0.9rem;}
.institut_geral li {margin-left: 18px;list-style-type: disc;}
.institut_conteudo {flex: 1;-webkit-flex: 1;}
.institut_conteudo h1 {margin-block-start: 0; color:#555555;}

.left-bar {display: none;}

@media only screen and (max-width:479px){
	.institut_geral {flex-wrap:wrap;}
  .institut_conteudo {order: 2; margin: 30px 0 0 0; width: 100%;} 
}

.video-containerYouTube {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}
.video-containerYouTube iframe, .video-containerYouTube object, .video-containerYouTube embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
@media screen and (min-width: 1024px) {
	.preVideo {width: 60%;margin: 0 auto;}
}

.pg-formas-de-pagamento .row-cover-formas-pagamento{
	margin-bottom:30px;
}

.pg-formas-de-pagamento .row-cover-formas-pagamento p{
	font-size:1.4rem;
	margin:45px auto;
}

.pg-formas-de-pagamento .tipos-formas-pagamento{
	background:#FFE200;
	padding:30px 0px 30px 30px;
}

.pg-formas-de-pagamento .tipos-formas-pagamento img{
	max-height: 40px;
	margin-bottom:15px;
}

.pg-formas-de-pagamento .tipos-formas-pagamento .bloco{
	background:white;
	max-width: 30% !important;
	margin-right: 2%;
	border-radius: 20px;
	padding:20px;
}
}
@media screen and (max-width: 768px) {
	.pg-formas-de-pagamento .tipos-formas-pagamento .bloco{
		width:92% !important;
		margin:30px auto;
	}
}

.pg-formas-de-pagamento .tipos-formas-pagamento .bloco h3{
	font-size: 23px;
}

.pg-formas-de-pagamento .tipos-formas-pagamento .bloco h2{
	margin-top:40px;
	margin-bottom:40px;
	font-size: 27px;
}

.pg-formas-de-pagamento .tipos-formas-pagamento .bloco h2 strong{
	font-size: 50px;
}

.pg-formas-de-pagamento .tipos-formas-pagamento .bloco h2 span{
	font-size: 45px;
}

.pg-formas-de-pagamento .btn-consultor{
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #da151d;
    margin: 25px auto 0 auto;
    padding: 15px 40px;
    border-radius: 30px;
	float: none;
	display: table;
}


/*font face chapeau e nunito*/


@font-face {
    font-family: 'chapeaublack';
    src: url('//empregos.comschool.com.br/fonts/chapeau-black-webfont.woff2') format('woff2'),
         url('//empregos.comschool.com.br/fonts/chapeau-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'chapeaublack_italic';
    src: url('//empregos.comschool.com.br/fonts/chapeau-blackitalic-webfont.woff2') format('woff2'),
         url('//empregos.comschool.com.br/fonts/chapeau-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'chapeaubold';
    src: url('//empregos.comschool.com.br/fonts/chapeau-bold-webfont.woff2') format('woff2'),
         url('//empregos.comschool.com.br/fonts/chapeau-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'chapeaubold_italic';
    src: url('//empregos.comschool.com.br/fonts/chapeau-bolditalic-webfont.woff2') format('woff2'),
         url('//empregos.comschool.com.br/fonts/chapeau-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'chapeauitalic';
    src: url('//empregos.comschool.com.br/fonts/chapeau-italic-webfont.woff2') format('woff2'),
         url('//empregos.comschool.com.br/fonts/chapeau-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'chapeaulight';
    src: url('//empregos.comschool.com.br/fonts/chapeau-light-webfont.woff2') format('woff2'),
         url('//empregos.comschool.com.br/fonts/chapeau-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'chapeaulight_italic';
    src: url('//empregos.comschool.com.br/fonts/chapeau-lightitalic-webfont.woff2') format('woff2'),
         url('//empregos.comschool.com.br/fonts/chapeau-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'chapeaumedium';
    src: url('//empregos.comschool.com.br/fonts/chapeau-medium-webfont.woff2') format('woff2'),
         url('//empregos.comschool.com.br/fonts/chapeau-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'chapeaumedium_italic';
    src: url('//empregos.comschool.com.br/fonts/chapeau-mediumitalic-webfont.woff2') format('woff2'),
         url('//empregos.comschool.com.br/fonts/chapeau-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'chapeaumono';
    src: url('//empregos.comschool.com.br/fonts/chapeau-mono-webfont.woff2') format('woff2'),
         url('//empregos.comschool.com.br/fonts/chapeau-mono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'chapeaumono_italic';
    src: url('//empregos.comschool.com.br/fonts/chapeau-monoitalic-webfont.woff2') format('woff2'),
         url('//empregos.comschool.com.br/fonts/chapeau-monoitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'chapeauregular';
    src: url('//empregos.comschool.com.br/fonts/chapeau-regular-webfont.woff2') format('woff2'),
         url('//empregos.comschool.com.br/fonts/chapeau-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nunitoblack';
    src: url('//empregos.comschool.com.br/fonts/nunito-black-webfont.woff2') format('woff2'),
         url('//empregos.comschool.com.br/fonts/nunito-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoblack_italic';
    src: url('//empregos.comschool.com.br/fonts/nunito-blackitalic-webfont.woff2') format('woff2'),
         url('//empregos.comschool.com.br/fonts/nunito-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitobold';
    src: url('//empregos.comschool.com.br/fonts/nunito-bold-webfont.woff2') format('woff2'),
         url('//empregos.comschool.com.br/fonts/nunito-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitobold_italic';
    src: url('//empregos.comschool.com.br/fonts/nunito-bolditalic-webfont.woff2') format('woff2'),
         url('//empregos.comschool.com.br/fonts/nunito-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoextrabold';
    src: url('//empregos.comschool.com.br/fonts/nunito-extrabold-webfont.woff2') format('woff2'),
         url('//empregos.comschool.com.br/fonts/nunito-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoextrabold_italic';
    src: url('//empregos.comschool.com.br/fonts/nunito-extrabolditalic-webfont.woff2') format('woff2'),
         url('//empregos.comschool.com.br/fonts/nunito-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoextralight';
    src: url('//empregos.comschool.com.br/fonts/nunito-extralight-webfont.woff2') format('woff2'),
         url('//empregos.comschool.com.br/fonts/nunito-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoextralight_italic';
    src: url('//empregos.comschool.com.br/fonts/nunito-extralightitalic-webfont.woff2') format('woff2'),
         url('//empregos.comschool.com.br/fonts/nunito-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoitalic';
    src: url('//empregos.comschool.com.br/fonts/nunito-italic-webfont.woff2') format('woff2'),
         url('//empregos.comschool.com.br/fonts/nunito-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitolight';
    src: url('//empregos.comschool.com.br/fonts/nunito-light-webfont.woff2') format('woff2'),
         url('//empregos.comschool.com.br/fonts/nunito-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitolight_italic';
    src: url('//empregos.comschool.com.br/fonts/nunito-lightitalic-webfont.woff2') format('woff2'),
         url('//empregos.comschool.com.br/fonts/nunito-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoregular';
    src: url('//empregos.comschool.com.br/fonts/nunito-regular-webfont.woff2') format('woff2'),
         url('//empregos.comschool.com.br/fonts/nunito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body{
    font-family: 'nunitoregular' !important;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'chapeauregular' !important;
}